<div class="row">
    <div class="col">
        <span class="h1">Orders</span>
    </div>
    <div class="col lh-48 text-right">
        <button type="button" class="add-order btn btn-sm btn-primary"><i class="fa fa-plus"></i> Add Order</button>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <td>ID</td>
            <td>USER ID</td>
            <td colspan="3">ITEM COUNT</td>
        </tr>
        </thead>
        <tbody>
        <% _.forEach(orders, i=>{ %>
        <tr>
            <td><%-i.id%></td>
            <td><%-i.user_id%></td>
            <td><%-i.itemCount || i.items.length%></td>
            <td>
                <button data-id="<%-i.id%>" class="btn-sm edit-order btn-info" title="Edit"><i class="fa fa-pencil-alt"></i></button>
            </td>
            <td>
                <button data-id="<%-i.id%>" class="btn-sm delete-order btn-danger" title="Delete"><i class="fa fa-trash-alt"></i>
                </button>
            </td>
        </tr>
        <%}) %>
        </tbody>
    </table>
</div>
