<div class="row">
    <div class="col">
        <span class="h1">Users</span>
    </div>
    <div class="col lh-48 text-right">
        <button type="button" class="add-user btn btn-sm btn-primary"><i class="fa fa-plus"></i> Add User</button>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
            <td>ID</td>
            <td colspan="3">NAME</td>
        </tr>
        </thead>
        <tbody>
        <% _.forEach(users, u=>{ %>
        <tr>
            <td><%-u.id%></td>
            <td><%-u.name%></td>
            <td><button data-id="<%-u.id%>" class="btn-sm edit-user"><i class="fa fa-pencil-alt"></i></button> </td>
            <td><button data-id="<%-u.id%>" class="btn-sm delete-user"><i class="fa fa-trash-alt"></i></button></td>
        </tr>
        <%}) %>
        </tbody>
    </table>
</div>